
<div id="carouselExampleControls" class="carousel slide">
  <div class="carousel-inner">

    {{!-- this will repeat from our slides array --}}
    {{#each slides}}
    <div class="carousel-item active">
      <img class="d-block w-100" src=slides.url alt="First slide">
      <li>{{this.url}}</li>
      <li>{{this.home}}</li>
      <li>{{this.page}}</li>
    </div>
    {{/each}}
  </div>

  {{!-- These are controls. DO NOT TOUCH --}}
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>