<table class="table table-striped">
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    {{#each users}}
    <tr>
        <th>{{this.firstname}}</th>
        <th>{{this.lastname}}</th>
        <th>{{this.email}}</th>
        <td>
            View | Delete
        </td>
    </tr>
    {{/each}}
</table>